/* tablet */
@media(min-width:46.25em) and (max-width:63.9375em){
   
   
}
/* mobile */
@media(max-width:46.1875em){
    .wrap-member{
        display: block;
    }
    .member-item {
        width: 100%;
    }
    .mem-btn-item {
        width: 75px;
    }
}