/* tablet */
@media(min-width:46.25em) and (max-width:63.9375em){
    input{
        padding: 16px;
    }
   
}
/* mobile */
@media(max-width:46.1875em){
    .contact-form{
        padding: 12px 0 12px 0;
    }
    .contact-infor{
        width: 100%;
    }
    .contact-infor-socials a{
        padding: 8px 8px 8px 0;
        font-size: 24px;
    }
    .contact-form-item-half{
        display: block;
    }
    .contact-form-item-half > input{
        margin-bottom: 4px;
    }
    input,textarea{
        padding: 16px;
    }
    .contact-form .btn-send{
        font-size: 16px;
        padding: 12px 18px;
    }
}